.CarouselButtonSvg {
    -moz-transition: all 0.2s ease-in 0.1;
    -o-transition: all 0.2s ease-in 0.1;
    -webkit-transition: all 0.2s ease-in 0.1;
    transition: color 200ms ease-in;
    color: transparent;
}
.CarouselButton {
    -moz-transition: all 0.2s ease-in 0.1;
    -o-transition: all 0.2s ease-in 0.1;
    -webkit-transition: all 0.2s ease-in 0.1;
    transition: background-color 200ms ease-in;
    background-color: rgb(0, 0, 0, 0);
}
.CarouselButton:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

.Carousel:hover .CarouselButtonSvg {
    color: white !important;
}

.active {
    background-color: #ff33dd !important;
}
